$white: #FFF;
$primary: #0A81FB;
$color-0: #000;
$color-3: #333;
$color-6: #666;
$color-9: #999;
$color-c: #ccc;
$color-e: #eee;
$color-2: #2ec200;
$orange: #EB5640;
$bg-color: #F7F6FB;
$color-F: #FFFFFF;
$blue: #4F8AFF;
$lightOrange: #FF981E;
$pink:#FA7777;
$fill-color:#ccc;